.header {
    
    grid-template-columns: minmax(100px, auto) 200px auto 1fr auto 1fr auto 200px minmax(100px, auto) ;

    @include e(tools) {
        
        grid-column: 2;
    }
    @include e(logo) {
        
    width: 200px;
    grid-column: 5;
    }
    @include e(shop) {
        
        grid-column: 8;
    }
    @include e(menu) {
        display: initial;
    }
   
}

.tools__item, .menu__link, .shop__item, .shop__number {
    &:hover {
        color: $categoriesMore;
        cursor: pointer;
    }
    &:focus {
        outline: 1px solid $price;
        outline-offset: 4px;
    }
}

.menu {
    @include e(item) {
        &:hover {
            border-bottom: 2px solid $price;
        }
    }
}