@function image($file) {
  @return url($imagesPath + $file);
}

@function font($file) {
  @return url($fontsPath +  $file);
}

@function userfile($file) {
  @return url($usersFilesPath + $file);
}


@function asset($type, $file) {
    @if $type == image  {
        @return  url($imagesPath + $file);
    } @else if $type == font { 
        @return url($fontsPath +  $file);
    } @else if $type ==  userfile {
         @return url($usersFilesPath +  $file);       
    }
}



@function rem($target) {
  @return ($target / $baseFontSize) * 1rem;
}


@mixin e($element) {
	&__#{$element} {
		@content;
	}
}

@mixin m($modifier) {
	&_#{$modifier} {
		@content;
	}
}

@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin img-fluid {
  min-width: 100%;
  width: 100%;
  height: auto;
}
 
@mixin fontSize($bfs) {
font-size: clamp(#{$bfs}, #{$bfs} + 1.1vw, #{$bfs} * 3);
}

