//fonts
$google-font: "https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Lato:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto&display=swap";

$baseFontSize: 16px;
$cabinFontFamily: 'Cabin', sans-serif;
$latoFontFamily: 'Lato', sans-serif;
$poppinsFontFamily: 'Poppins', sans-serif;
$robotoFontFamily: 'Roboto', sans-serif;
$mediumFontWeight: 500;


$desktopPadding: 1rem;

// Paths
$i: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";

// Colors
$black: #000000;
$white: #ffffff;
$headerBgd:#212121;
$headersTop: #A5A5A5;
$headersMain: #242424;
$headersBottom: #777777;
$price: #52BD72;
$collection: #9E9E9E;
$featureTitle: #242424;
$featureParagraph: #777777;
$notBlackFooter: #333333;
$greyFooter: #C2B59F;
$lightGreyFooter: #C1BBBB;
$categoriesMore: rgb(119, 119, 119);



